<router-outlet></router-outlet>
<div class="background-image">
    <section>
        <nav class="navbar navbar-expand-sm bg-secondary navbar-light" style="height: 50px; font-size: 30px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/employee-list" routerLinkActive="activebutton"
                        style="color: #fff; text-decoration: none; padding: 30px;" class="button">Employee List</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/create-employee" routerLinkActive="activebutton"
                        style="color: #fff; text-decoration: none; padding: 30px;" class="button">Add Employee</a>
                </li>
            </ul>
        </nav>
        <div class="col-md-6 offset-md-3 " style="margin-top: 100px;">
            <h3 style="text-align: center;">Create Employee</h3>
            <div class="container">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">

                        <label> First Name</label>
                        <br>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName"
                            name="firstName">
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName"
                            name="lastName">
                    </div>
                    <br>
                    <div class="form-group">
                        <label> Email Id</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId"
                            name="emailId">
                    </div>
                    <br>
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</div>